{{ $current := .Page }}

{{ $title := trim (.Title | plainify) " " }}
{{ $linkTitle := trim (.LinkTitle | plainify) " " }}
{{ $base := "" }}
{{ with .File }}
  {{ $base = .BaseFileName }}
{{ end }}
{{ $baseNoExt := replaceRE `\.[^.]+$` "" $base }}

{{ range $current.Site.RegularPages }}
  {{ $raw := .RawContent }}
  {{ $re := `\[\[([^\]\|]+?)(?:\|([^\]]+?))?\]\]` }}
  {{ $matches := findRESubmatch $re $raw }}
  {{ $file := . }}

  {{ if $matches }}
    {{ range $matches }}
      {{ $target := trim (index . 1) " " }}
      {{ $found := false }}
      {{ $href := "" }}

      {{ if and (not $found) (or (eq $target $title) (eq $target $linkTitle) (eq $target $base) (eq $target $baseNoExt)) }}
      <a href="{{ $file.RelPermalink }}">{{ $file.Title }}</a>
        {{ $found = true }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}
