{{ $title := trim (.Title | plainify) " " }}
{{ $linkTitle := trim (.LinkTitle | plainify) " " }}
{{ $base := "" }}
{{ with .File }}
  {{ $base = .BaseFileName }}
{{ end }}
{{ $baseNoExt := replaceRE `\.[^.]+$` "" $base }}
{{ $re := `\[\[([^\]\|]+?)(?:\|([^\]]+?))?\]\]` }}

{{ $backlinks := slice }}

{{ range .Page.Site.RegularPages }}
  {{ $raw := .RawContent }}
  {{ $matches := findRESubmatch $re $raw }}
  {{ $file := . }}

  {{ if $matches }}
    {{ range $matches }}
      {{ $target := trim (index . 1) " " }}
      {{ $href := "" }}

      {{ if or (eq $target $title) (eq $target $linkTitle) (eq $target $base) (eq $target $baseNoExt) }}
        {{ $backlinks = $backlinks | append (dict "file" $file) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if gt (len $backlinks) 0 }}
  <div class="backlinks">
    <h3>Backlinks:</h3>
    <ul>
      {{ range $backlinks }}
        <li><a href="{{ .file.RelPermalink }}">{{ .file.Title }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}
