@import "components/header.css";
@import "components/footer.css";

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
.pubdate { color: #555; font-size: 110%; }
.pubdate {
  color: #555;
  font-size: 110%;
}

a {
  color: #00e;
  text-decoration: none;
}
