{{ define "main" }}
  {{ $title := .Title }}
  {{ $matches := findRE `(?m)^#\s+(.+)$` .RawContent 1 }}
  {{ if gt (len $matches) 0 }}
    {{ $title = index $matches 0 | replaceRE `^#\s+` "" }}
  {{ end }}

  <h1>{{ $title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time class="pubdate" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ partial "wikilinks" . }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
